name: Video Processing

on:
  workflow_dispatch:  # Manual trigger
  push:
    branches:
      - main      # Run on push to main branch

jobs:
  process-videos:
    runs-on: ubuntu-latest

    env:
      BOT_ID: bot3
      FIREBASE_CREDENTIALS_MAIN: ${{ secrets.FIREBASE_CREDENTIALS_MAIN }}
      FIREBASE_CREDENTIALS_VERIFY: ${{ secrets.FIREBASE_CREDENTIALS_VERIFY }}
      BUNNY: ${{ secrets.BUNNY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --no-cache-dir firebase-admin requests

      - name: Run Video Processing
        run: |
          python main.py
